<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWZLrMz3_TULsgcOYKufimab9HQxCx6ec</string>
	<key>GCM_SENDER_ID</key>
	<string>534820013195</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sabq.sabqorg</string>
	<key>PROJECT_ID</key>
	<string>sabq-ga3-ga4</string>
	<key>STORAGE_BUCKET</key>
	<string>sabq-ga3-ga4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:534820013195:ios:d516ed2e146f209abdc08e</string>
	<key>CLIENT_ID</key>
	<string>664097075837-8cle4eq9agqnt3em9p9k0ae56dtb99h2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.664097075837-8cle4eq9agqnt3em9p9k0ae56dtb99h2</string>
</dict>
</plist>
