<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GA4_API_SECRET</key>
	<string>FrMZqZpnRKuza2MfhI3Afg</string>
	<key>GA4_MEASUREMENT_ID</key>
	<string>G-EEB5593GY7</string>
</dict>
</plist>
