<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSHealthShareUsageDescription</key>
	<string>لعرض خطواتك وساعات نومك في رحلتك المعرفية</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>لعرض خطواتك وساعات نومك في رحلتك المعرفية</string>
	<key>GA4_API_SECRET</key>
	<string>fYZEmXdzQuKjai7EUD7PXA</string>
	<key>GA4_MEASUREMENT_ID</key>
	<string>G-26QJ46Q70B</string>
	<key>GIDClientID</key>
	<string>664097075837-8cle4eq9agqnt3em9p9k0ae56dtb99h2.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.664097075837-8cle4eq9agqnt3em9p9k0ae56dtb99h2</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
