<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GA4_API_SECRET</key>
	<string>fYZEmXdzQuKjai7EUD7PXA</string>
	<key>GA4_MEASUREMENT_ID</key>
	<string>G-26QJ46Q70B</string>
</dict>
</plist>
