.quintype-data/stories-sabq-1.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-10.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-11.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-12.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-13.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-14.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-15.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-16.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-17.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-18.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-19.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-2.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-20.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-21.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-22.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-23.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-24.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-25.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-26.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-27.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-28.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-29.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-3.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-30.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-31.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-32.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-33.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-34.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-35.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-36.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-37.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-38.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-39.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-4.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-40.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-41.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-42.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-43.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-44.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-45.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-46.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-47.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-48.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-49.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-5.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-50.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-51.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-52.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-53.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-54.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-55.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-56.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-57.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-58.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-59.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-59.txt.a725E9Af filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-6.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-60.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-61.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-62.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-63.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-64.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-65.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-66.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-7.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-8.txt filter=lfs diff=lfs merge=lfs -text
.quintype-data/stories-sabq-9.txt filter=lfs diff=lfs merge=lfs -text
