openapi: 3.0.3
info:
  title: Sabq Bot Drafts API
  version: 1.2.0
  description: |
    مسودات لبوت «نشر سبق» ومهندّس (Grok Bot). الإنشاء draft.
    POST /{id}/publish ينشر فوراً. POST /{id}/schedule يجدول بـ publishAt.
    PATCH /{id}/schedule يغيّر موعد مادة مجدولة. DELETE /{id}/schedule يلغي الجدولة ويعيدها draft.
    POST /{id}/archive أرشفة ناعمة لمادة منشورة. PATCH /{id}/visibility يضبط المميز والعاجل وإخفاء الرئيسية.
    PATCH /{id}/ready ينقل إلى ready_to_publish دون نشر.
    المواد القابلة للإدارة source=bot فقط.
    الدليل الكامل: docs/systems/editorial/BOT_DRAFTS_API.md
servers:
  - url: https://api.sabq.org
    description: Production (Railway)
  - url: http://localhost:5000
    description: Local dev (npm run dev)
security:
  - botToken: []
paths:
  /api/internal/bot-drafts:
    post:
      operationId: createSabqDraft
      summary: إنشاء مسودة عربية جديدة في لوحة تحكم سبق (status=draft)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BotDraftCreate"
      responses:
        "201":
          description: المسودة أُنشئت
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "503": { $ref: "#/components/responses/NotConfigured" }
  /api/internal/bot-drafts/images:
    post:
      operationId: uploadSabqDraftImage
      summary: رفع صورة واحدة إلى R2 / media.sabq.org لغلاف المسودة أو متنها (لا نشر)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: صورة واحدة JPEG/PNG/WEBP/GIF بحد أقصى 10MB
      responses:
        "201":
          description: رُفعت الصورة إلى R2 — deliveryUrl هو https://media.sabq.org/news/… يُمرَّر كـ imageUrl (غلاف) أو داخل imageUrls (متن)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraftImageUpload"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "429": { $ref: "#/components/responses/RateLimited" }
        "502":
          description: upload_failed — التخزين لم يُرجع رابط https
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: not_configured (توكنات البوت) أو storage_unavailable (R2 غير مضبوط — لا بديل Cloudflare Images)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /api/internal/bot-drafts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema: { type: string }
        description: معرّف المسودة كما عاد من الإنشاء
    get:
      operationId: getSabqDraft
      summary: حالة المسودة ومعرّفها ورابط التحرير الداخلي
      responses:
        "200":
          description: المسودة
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      operationId: updateSabqDraft
      summary: تحديث مسودة أنشأها بوت وما زالت draft (الحقول المتغيرة فقط)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BotDraftUpdate"
      responses:
        "200":
          description: المسودة بعد التحديث
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_a_draft (نُشرت/جُدولت) أو locked_by_editor (محرر يعمل عليها الآن)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/internal/bot-drafts/{id}/ready:
    patch:
      operationId: markSabqDraftReady
      summary: تعليم المسودة جاهزة للنشر (draft → ready_to_publish) دون نشر
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              description: جسم فارغ. أي حقل يُرفض، وحقل ممنوع مثل status يُرفض 422.
      responses:
        "200":
          description: أصبحت ready_to_publish وupdatable=false
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_a_draft (ليست draft، بما فيها الجاهزة مسبقاً أو المنشورة) أو locked_by_editor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/internal/bot-drafts/{id}/publish:
    post:
      operationId: publishSabqDraft
      summary: نشر فوري لمسودة بوت (draft أو ready_to_publish)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              description: جسم فارغ. أي حقل يُرفض. status أو authorId يُرفضان 422.
      responses:
        "200":
          description: نُشرت. status=published وupdatable=false وpublicUrl
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: license_required إن كان صاحب الاسم بلا ترخيص. PATCH على هذا المسار forbidden_action
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_a_draft (ليست draft ولا ready_to_publish) أو locked_by_editor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/internal/bot-drafts/{id}/schedule:
    post:
      operationId: scheduleSabqDraft
      summary: جدولة مسودة بوت حتى يلتقطها ناشر المواد المجدولة
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [publishAt]
              properties:
                publishAt:
                  type: string
                  format: date-time
                  description: ISO-8601 مستقبلي مع منطقة زمنية. الرياض +03:00 أو ما يعادله UTC. بلا إزاحة أو في الماضي = 400.
                  example: "2026-09-24T18:30:00+03:00"
      responses:
        "200":
          description: جُدولت. status=scheduled وscheduledAt وeditUrl
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403":
          description: license_required
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_a_draft أو locked_by_editor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
    patch:
      operationId: rescheduleSabqDraft
      summary: تغيير موعد مادة بوت مجدولة
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [publishAt]
              properties:
                publishAt:
                  type: string
                  format: date-time
                  example: "2026-09-24T21:00:00+03:00"
      responses:
        "200":
          description: بقي status=scheduled وتبدّل scheduledAt. لا إعادة لتنبيه الجدولة
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_scheduled أو locked_by_editor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
    delete:
      operationId: unscheduleSabqDraft
      summary: إلغاء الجدولة وإعادة المادة مسودة دون حذف
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
      responses:
        "200":
          description: status=draft وupdatable=true وscheduledAt=null
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_scheduled أو locked_by_editor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/internal/bot-drafts/{id}/archive:
    post:
      operationId: archiveSabqDraft
      summary: أرشفة ناعمة لمادة بوت منشورة (لا حذف من القاعدة)
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                reason:
                  type: string
                  maxLength: 1000
                  description: سبب اختياري يُحفظ في reviewNotes
      responses:
        "200":
          description: status=archived. تختفي من الموقع والرئيسية والخلاصات والخرائط
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_published أو locked_by_editor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
  /api/internal/bot-drafts/{id}/visibility:
    patch:
      operationId: setSabqDraftVisibility
      summary: مميز أو عاجل أو إخفاء من الرئيسية لمادة منشورة. لا إشعار قرّاء
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              minProperties: 1
              properties:
                isFeatured: { type: boolean, description: مميز }
                newsType:
                  type: string
                  enum: [breaking, regular]
                  description: breaking عاجل. featured ليست قيمة مقبولة
                hideFromHomepage: { type: boolean, description: true يخفي من الرئيسية ويبقي الرابط }
      responses:
        "200":
          description: الحقول المحدّثة. تعليم العاجل لا يرسل دفعاً للقرّاء
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BotDraft"
        "400": { $ref: "#/components/responses/ValidationError" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: not_published أو locked_by_editor
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "422": { $ref: "#/components/responses/Unprocessable" }
        "429": { $ref: "#/components/responses/RateLimited" }
components:
  securitySchemes:
    botToken:
      type: http
      scheme: bearer
      description: توكن البوت من BOT_DRAFTS_API_TOKENS (Railway). يُخزَّن في مدير أسرار البوت باسم SABQ_BOT_DRAFTS_TOKEN.
  schemas:
    DraftFields:
      type: object
      properties:
        title: { type: string, minLength: 3, maxLength: 300, description: عنوان الخبر }
        content: { type: string, minLength: 20, maxLength: 300000, description: HTML أو نص خام (يتحول لفقرات). وسوم img https تُعاد كتابتها لشكل محرر TipTap }
        contentFormat: { type: string, enum: [html, text] }
        subtitle: { type: string, maxLength: 300, nullable: true }
        excerpt: { type: string, maxLength: 1000, nullable: true, description: المقدمة/الموجز }
        categoryId: { type: string }
        categorySlug: { type: string, description: slug تصنيف منشور (status=visible في الإنتاج؛ يُقبل active تاريخياً) من GET /api/categories }
        imageUrl: { type: string, format: uri, nullable: true, description: صورة الغلاف فقط — https. لا تُنسخ إلى المتن }
        imageUrls:
          type: array
          maxItems: 20
          description: صور المتن. تُلحَق أسفل الجسم كوسوم img بنفس عقد محرر TipTap (ليست ألبوماً). يُفضَّل deliveryUrl من POST /images
          items: { type: string, format: uri }
        keywords:
          type: array
          maxItems: 20
          items: { type: string, maxLength: 60 }
        sourceUrl: { type: string, format: uri, nullable: true }
        clientReference: { type: string, maxLength: 120, description: معرّف البوت الداخلي للمادة }
        notes: { type: string, maxLength: 2000, nullable: true, description: ملاحظة للمحررين }
      additionalProperties: false
    BotDraftCreate:
      allOf:
        - $ref: "#/components/schemas/DraftFields"
        - required: [title, content]
    BotDraftUpdate:
      allOf:
        - $ref: "#/components/schemas/DraftFields"
        - minProperties: 1
    BotDraft:
      type: object
      properties:
        id: { type: string }
        status: { type: string, description: الحالة الحالية في اللوحة (draft/ready_to_publish/published/scheduled/archived) }
        updatable: { type: boolean, description: true فقط عندما تكون draft. false بعد الجاهزية أو النشر أو الجدولة أو الأرشفة. إلغاء الجدولة يعيدها true }
        title: { type: string }
        subtitle: { type: string, nullable: true }
        slug: { type: string }
        excerpt: { type: string, nullable: true }
        categoryId: { type: string, nullable: true }
        categorySlug: { type: string, nullable: true }
        imageUrl: { type: string, nullable: true }
        bodyImageUrls:
          type: array
          description: روابط صور المتن بالترتيب. الغلاف لا يدخل إلا إذا وُضع في الجسم. المتن نفسه لا يُعاد
          items: { type: string, format: uri }
        sourceUrl: { type: string, nullable: true }
        keywords: { type: array, items: { type: string } }
        source: { type: string, example: bot }
        bot: { type: string, nullable: true, description: اسم البوت من التوكن }
        clientReference: { type: string, nullable: true }
        notes: { type: string, nullable: true }
        editUrl: { type: string, format: uri, description: رابط التحرير الداخلي في اللوحة }
        previewUrl: { type: string, format: uri }
        publicUrl:
          type: string
          format: uri
          nullable: true
          description: رابط القارئ https://sabq.org/article/{englishSlug}. الصفحة العامة تعرضه عندما status=published. أثناء scheduled نفس الرابط يُفتح بعد الموعد.
        publishedAt: { type: string, format: date-time, nullable: true }
        scheduledAt: { type: string, format: date-time, nullable: true, description: موعد الجدولة المؤكد }
        isFeatured: { type: boolean, description: مميز }
        newsType: { type: string, description: breaking أو regular }
        hideFromHomepage: { type: boolean, description: مخفي من الرئيسية }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
    BotDraftImageUpload:
      type: object
      required: [deliveryUrl, purpose]
      properties:
        deliveryUrl: { type: string, format: uri, description: رابط R2 العام https://media.sabq.org/news/… لتمريره كـ imageUrl (غلاف) أو داخل imageUrls (متن) }
        imageId: { type: string, nullable: true }
        filename: { type: string }
        provider: { type: string, nullable: true, description: r2 دائماً على هذا المسار }
        thumbnailUrl: { type: string, format: uri, nullable: true }
        width: { type: integer, nullable: true }
        height: { type: integer, nullable: true }
        purpose: { type: string, example: bot-article-image }
    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
          enum: [not_configured, unauthorized, forbidden_fields, validation_error, category_not_found, author_not_configured, not_found, not_a_draft, not_published, not_scheduled, locked_by_editor, license_required, forbidden_action, rate_limited, invalid_image, file_too_large, storage_unavailable, upload_failed, server_error]
        message: { type: string }
        details: {}
  responses:
    ValidationError:
      description: validation_error — حقل ناقص/غير صالح/غير معروف
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Unauthorized:
      description: unauthorized — توكن مفقود أو غير مطابق
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    NotFound:
      description: not_found — المعرّف غير موجود أو ليس من إنشاء بوت
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    Unprocessable:
      description: forbidden_fields (حقل نشر/حالة) أو category_not_found
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    RateLimited:
      description: rate_limited — تجاوز سقف الكتابة للدقيقة لهذا البوت
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
    NotConfigured:
      description: not_configured — BOT_DRAFTS_API_TOKENS غير مضبوط
      content: { application/json: { schema: { $ref: "#/components/schemas/Error" } } }
