*.iml
.gradle
/local.properties
/.idea/
/.idea/*.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
/app/release/
/app/google-services.json
*.keystore
*.jks
!/gradle/wrapper/gradle-wrapper.jar
